body {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-width: 350px; /* Minimum width for mobile */
  justify-content: center;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    padding: 1%;
    font-size: 16px; /* Base font size for mobile */
    line-height: 1.5; /* Base line height for mobile */
    color: #333; /* Base text color for mobile */
    color-scheme: dark;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    transition: 0.3s;
  }

  html {
    padding: 5px;
    max-width: 1024px;
    margin: 0 auto;
    overflow-x: hidden;
    text-align: center;
    align-content: center;
}


.rouge-script-regular {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
